:root {
    --background: hsl(30, 100%, 97%);
    --header-background: rgb(254, 251, 245);
    --heading-font: 'Corben', 'Courier New', Courier, monospace;
    --primary-font: 'Courier New', Courier, monospace;
}

body {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 800px;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    padding: 20px;
}

/* elements */

h1,
h2 {
    font-family: var(--heading-font);
}

img {
    width: 300px;
    display: block;
    margin: auto;
}

main > p {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 12px 12px 2px 1px hsla(30, 100%, 70%, 0.2);
}
